<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040779469337-oape96368v35nbd2q1q38vfv701nqfgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040779469337-oape96368v35nbd2q1q38vfv701nqfgc</string>
	<key>API_KEY</key>
	<string>AIzaSyAaJLOI2lkH7SozwmpAxeFB5XDQxvCMXE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1040779469337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rmit.final-ass</string>
	<key>PROJECT_ID</key>
	<string>neo-music-c17e1</string>
	<key>STORAGE_BUCKET</key>
	<string>neo-music-c17e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040779469337:ios:0bb9c98eb0eedc87760088</string>
</dict>
</plist>